body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

h1 {
  font-size: 50pt;
}
h2 {
  font-size:
}
h3 {
  color: grey;
  font-size: 21pt
}
p {
  color: grey;
  font-size: 16pt;
}
.cta {
  color; Aquamarine;
  text-decoration: underline;
}
a:hover {
  color: Aquamarine;
  cursor: pointer;
  text-decoration: underline;
}
a:active {
  color: Aquamarine;
  cursor: pointer;
  text-decoration: underline;
}
a:visited {
  color: Aquamarine;
  cursor: pointer;
  text-decoration: underline;
}
